/* components/AlbumDetails/AlbumDetails.scss */
.album-details {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &__art {
        margin-right: 20px;

        img {
            max-width: 200px;
            border-radius: 10px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    &__artist {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    &__tracks {
        list-style: none;
        padding: 0;

        &__track {
            font-size: 1em;
            color: #333;
            margin-bottom: 5px;
        }
    }
}
